body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-box {
    padding: 10px 30px 25px 25px;
    background: none repeat scroll 0% 0% rgb(241, 241, 241);
    border: 1px solid rgb(229, 229, 229);
    width:300px;
    position:center;
}

.button-facebook {
    border: 1px solid rgb(48, 121, 237);
    color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #478BF9;
}

.button-gmail {
    border: 1px solid rgb(48, 121, 237);
    color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #478BF9;
}